.container{width:100%;}
.abs-br,
[abs-br=""]{position:absolute;bottom:0;right:0;}
@media (min-width: 640px){
.container{max-width:640px;}
}
@media (min-width: 768px){
.container{max-width:768px;}
}
@media (min-width: 1024px){
.container{max-width:1024px;}
}
@media (min-width: 1280px){
.container{max-width:1280px;}
}
@media (min-width: 1536px){
.container{max-width:1536px;}
}
.i-svg-spinners-90-ring-with-bg {
  --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1em' height='1em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M12,1A11,11,0,1,0,23,12,11,11,0,0,0,12,1Zm0,19a8,8,0,1,1,8-8A8,8,0,0,1,12,20Z' opacity='.25'/%3E%3Cpath fill='currentColor' d='M10.14,1.16a11,11,0,0,0-9,8.92A1.59,1.59,0,0,0,2.46,12,1.52,1.52,0,0,0,4.11,10.7a8,8,0,0,1,6.66-6.61A1.42,1.42,0,0,0,12,2.69h0A1.57,1.57,0,0,0,10.14,1.16Z'%3E%3CanimateTransform attributeName='transform' dur='0.75s' repeatCount='indefinite' type='rotate' values='0 12 12;360 12 12'/%3E%3C/path%3E%3C/svg%3E");
  -webkit-mask: var(--un-icon) no-repeat;
  mask: var(--un-icon) no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  background-color: currentColor;
  color: inherit;
  width: 1em;
  height: 1em;
}
/* layer: default */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
.pointer-events-none {
  pointer-events: none;
}
.absolute,
[absolute=""] {
  position: absolute;
}
.fixed {
  position: fixed;
}
.relative {
  position: relative;
}
.inset-0 {
  inset: 0;
}
.bottom-0 {
  bottom: 0;
}
.bottom-10 {
  bottom: 2.5rem;
}
.bottom-4 {
  bottom: 1rem;
}
.bottom-8 {
  bottom: 2rem;
}
.left-0 {
  left: 0;
}
.left-1 {
  left: 0.25rem;
}
.left-1\/2 {
  left: 50%;
}
.left-12,
[left-12=""] {
  left: 3rem;
}
.left-4 {
  left: 1rem;
}
.right-0 {
  right: 0;
}
.right-1 {
  right: 0.25rem;
}
.right-12,
[right-12=""] {
  right: 3rem;
}
.right-4 {
  right: 1rem;
}
.right-5 {
  right: 1.25rem;
}
.top-\[200px\] {
  top: 200px;
}
.top-0 {
  top: 0;
}
.top-1\/2 {
  top: 50%;
}
.-top-15px {
  top: -15px;
}
.-top-20 {
  top: -5rem;
}
.top-4 {
  top: 1rem;
}
.top-5 {
  top: 1.25rem;
}
.z-0 {
  z-index: 0;
}
.-z-1 {
  z-index: -1;
}
.z-1 {
  z-index: 1;
}
.z-10 {
  z-index: 10;
}
.z-100 {
  z-index: 100;
}
.z-2 {
  z-index: 2;
}
.z-20 {
  z-index: 20;
}
.z-30 {
  z-index: 30;
}
.grid {
  display: grid;
}
.col-span-2 {
  grid-column: span 2 / span 2;
}
.grid-cols-\[1fr_1fr\] {
  grid-template-columns: 1fr 1fr;
}
.grid-cols-\[1fr_2fr\] {
  grid-template-columns: 1fr 2fr;
}
.grid-cols-\[1fr_max-content\] {
  grid-template-columns: 1fr max-content;
}
.grid-cols-\[2fr_1fr\] {
  grid-template-columns: 2fr 1fr;
}
.grid-cols-\[2fr_3fr\] {
  grid-template-columns: 2fr 3fr;
}
.grid-cols-\[35px_1fr\] {
  grid-template-columns: 35px 1fr;
}
.grid-rows-\[1fr_max-content\] {
  grid-template-rows: 1fr max-content;
}
.grid-rows-\[60px_1fr\] {
  grid-template-rows: 60px 1fr;
}
.grid-rows-\[max-content_1fr\] {
  grid-template-rows: max-content 1fr;
}
.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.m-1 {
  margin: 0.25rem;
}
.m-6,
[m-6=""] {
  margin: 1.5rem;
}
.m-auto {
  margin: auto;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.my-1,
.my1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
.children\:my-auto > *,
.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}
.mb-10 {
  margin-bottom: 2.5rem;
}
.mb-4 {
  margin-bottom: 1rem;
}
.ml-0 {
  margin-left: 0;
}
.ml-1 {
  margin-left: 0.25rem;
}
.-ml-2 {
  margin-left: -0.5rem;
}
.mr-1 {
  margin-right: 0.25rem;
}
.mr-2 {
  margin-right: 0.5rem;
}
.mr-3 {
  margin-right: 0.75rem;
}
.mr-4 {
  margin-right: 1rem;
}
.ms {
  margin-inline-start: 1rem;
}
.-mt-0\.5 {
  margin-top: -0.125rem;
}
.-mt-1 {
  margin-top: -0.25rem;
}
.mt-1,
.mt1 {
  margin-top: 0.25rem;
}
.mt-2 {
  margin-top: 0.5rem;
}
.inline,
[inline=""] {
  display: inline;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.aspect-initial,
.aspect-ratio-initial {
  aspect-ratio: initial;
}
.h-\[40px\],
.h-40px {
  height: 40px;
}
.h-\[calc\(var\(--vh\,1vh\)\*100\)\] {
  height: calc(var(--vh, 1vh) * 100);
}
.h-0\.7 {
  height: 0.175rem;
}
.h-10px {
  height: 10px;
}
.h-5 {
  height: 1.25rem;
}
.h-6 {
  height: 1.5rem;
}
.h-8 {
  height: 2rem;
}
.h-full {
  height: 100%;
}
.h1 {
  height: 0.25rem;
}
.max-w-150 {
  max-width: 37.5rem;
}
.max-w-90,
[max-w-90=""] {
  max-width: 22.5rem;
}
.min-h-full {
  min-height: 100%;
}
.min-w-90,
[min-w-90=""] {
  min-width: 22.5rem;
}
.min-w-full {
  min-width: 100%;
}
.w-\[40px\] {
  width: 40px;
}
.w-0 {
  width: 0;
}
.w-10px {
  width: 10px;
}
.w-1px {
  width: 1px;
}
.w-4,
[w-4=""] {
  width: 1rem;
}
.w-5 {
  width: 1.25rem;
}
.w-6 {
  width: 1.5rem;
}
.w-60 {
  width: 15rem;
}
.w-7 {
  width: 1.75rem;
}
.w-8 {
  width: 2rem;
}
.w-90,
[w-90=""] {
  width: 22.5rem;
}
.w-full {
  width: 100%;
}
.w1 {
  width: 0.25rem;
}
.flex,
[flex=""],
[flex~="\~"] {
  display: flex;
}
.flex-auto {
  flex: 1 1 auto;
}
.flex-col {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}
.table {
  display: table;
}
.origin-bottom {
  transform-origin: bottom;
}
.translate-y-8 {
  --un-translate-y: 2rem;
  transform: translateX(var(--un-translate-x)) translateY(var(--un-translate-y))
    translateZ(var(--un-translate-z)) rotate(var(--un-rotate))
    rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y))
    rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y))
    scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y))
    scaleZ(var(--un-scale-z));
}
.-rotate-45 {
  --un-rotate-x: 0;
  --un-rotate-y: 0;
  --un-rotate-z: 0;
  --un-rotate: -45deg;
  transform: translateX(var(--un-translate-x)) translateY(var(--un-translate-y))
    translateZ(var(--un-translate-z)) rotate(var(--un-rotate))
    rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y))
    rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y))
    scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y))
    scaleZ(var(--un-scale-z));
}
.scale-100 {
  --un-scale-x: 1;
  --un-scale-y: 1;
  transform: translateX(var(--un-translate-x)) translateY(var(--un-translate-y))
    translateZ(var(--un-translate-z)) rotate(var(--un-rotate))
    rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y))
    rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y))
    scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y))
    scaleZ(var(--un-scale-z));
}
.scale-102 {
  --un-scale-x: 1.02;
  --un-scale-y: 1.02;
  transform: translateX(var(--un-translate-x)) translateY(var(--un-translate-y))
    translateZ(var(--un-translate-z)) rotate(var(--un-rotate))
    rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y))
    rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y))
    scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y))
    scaleZ(var(--un-scale-z));
}
.scale-85 {
  --un-scale-x: 0.85;
  --un-scale-y: 0.85;
  transform: translateX(var(--un-translate-x)) translateY(var(--un-translate-y))
    translateZ(var(--un-translate-z)) rotate(var(--un-rotate))
    rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y))
    rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y))
    scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y))
    scaleZ(var(--un-scale-z));
}
.transform {
  transform: translateX(var(--un-translate-x)) translateY(var(--un-translate-y))
    translateZ(var(--un-translate-z)) rotate(var(--un-rotate))
    rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y))
    rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y))
    scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y))
    scaleZ(var(--un-scale-z));
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.animate-fade-in {
  animation: fade-in 1s linear 1;
}
.animate-duration-100 {
  animation-duration: 100ms;
}
.cursor-default {
  cursor: default;
}
.cursor-pointer,
[cursor-pointer=""] {
  cursor: pointer;
}
.touch-none {
  touch-action: none;
}
.select-none {
  -webkit-user-select: none;
  user-select: none;
}
.resize,
[resize=""] {
  resize: both;
}
.break-after-page {
  break-after: page;
}
.items-center,
[items-center=""] {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.justify-items-start {
  justify-items: start;
}
.gap-2,
[flex~="gap-2"],
[gap-2=""] {
  gap: 0.5rem;
}
.gap-0\.5 {
  gap: 0.125rem;
}
.gap-1 {
  gap: 0.25rem;
}
.gap-4 {
  gap: 1rem;
}
.gap-x-5 {
  column-gap: 1.25rem;
}
.gap-x-8 {
  column-gap: 2rem;
}
.gap-y-3 {
  row-gap: 0.75rem;
}
.gap-y-4 {
  row-gap: 1rem;
}
.overflow-hidden {
  overflow: hidden;
}
.overflow-visible {
  overflow: visible;
}
.overflow-y-auto {
  overflow-y: auto;
}
.whitespace-nowrap {
  white-space: nowrap;
}
.b,
.border,
.dark .dark\:border,
.dark [dark\:border~="\~"],
[border~="\~"] {
  border-width: 1px;
}
[border~="\30 "] {
  border-width: 0px;
}
.border-b-2 {
  border-bottom-width: 2px;
}
.border-b-4 {
  border-bottom-width: 4px;
}
.border-l {
  border-left-width: 1px;
}
.border-t,
[border~="t"] {
  border-top-width: 1px;
}
.border-t-4 {
  border-top-width: 4px;
}
.b-dark {
  --un-border-opacity: 1;
  border-color: rgb(34 34 34 / var(--un-border-opacity));
}
.border-gray,
.border-gray-400,
.dark .dark\:b-gray-400 {
  --un-border-opacity: 1;
  border-color: rgb(156 163 175 / var(--un-border-opacity));
}
.border-gray-300\/50 {
  border-color: rgb(209 213 219 / 0.5);
}
.dark .dark\:border-gray-500 {
  --un-border-opacity: 1;
  border-color: rgb(107 114 128 / var(--un-border-opacity));
}
.border-orange-600 {
  --un-border-opacity: 1;
  border-color: rgb(234 88 12 / var(--un-border-opacity));
}
[border~="transparent"] {
  border-color: transparent;
}
.dark .dark\:border-true-gray-700 {
  --un-border-opacity: 1;
  border-color: rgb(64 64 64 / var(--un-border-opacity));
}
.border-vgreen {
  --un-border-opacity: 1;
  border-color: rgb(65 184 131 / var(--un-border-opacity));
}
.border-white {
  --un-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--un-border-opacity));
}
.hover\:border-orange-700:hover {
  --un-border-opacity: 1;
  border-color: rgb(194 65 12 / var(--un-border-opacity));
}
.border-opacity-20 {
  --un-border-opacity: 0.2;
}
.hover\:border-opacity-75:hover {
  --un-border-opacity: 0.75;
}
.rounded,
[border~="rounded"],
[rounded=""] {
  border-radius: 0.25rem;
}
.rounded-1\/2 {
  border-radius: 50%;
}
.rounded-full {
  border-radius: 9999px;
}
.rounded-md {
  border-radius: 0.375rem;
}
.b-dashed {
  border-style: dashed;
}
.\!border-none,
[\!border-none=""] {
  border-style: none !important;
}
[bg~="black"] {
  --un-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--un-bg-opacity));
}
.bg-current {
  background-color: currentColor;
}
.bg-gray,
.bg-gray-400 {
  --un-bg-opacity: 1;
  background-color: rgb(156 163 175 / var(--un-bg-opacity));
}
.dark .dark\:bg-gray-800 {
  --un-bg-opacity: 1;
  background-color: rgb(31 41 55 / var(--un-bg-opacity));
}
.bg-orange-400 {
  --un-bg-opacity: 1;
  background-color: rgb(251 146 60 / var(--un-bg-opacity));
}
.bg-transparent {
  background-color: transparent;
}
.dark .dark\:bg-vblue {
  --un-bg-opacity: 1;
  background-color: rgb(52 73 94 / var(--un-bg-opacity));
}
.bg-white,
[bg-white=""] {
  --un-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--un-bg-opacity));
}
.hover\:bg-gray-400:hover {
  --un-bg-opacity: 1;
  background-color: rgb(156 163 175 / var(--un-bg-opacity));
}
.hover\:bg-orange-500:hover {
  --un-bg-opacity: 1;
  background-color: rgb(249 115 22 / var(--un-bg-opacity));
}
.bg-opacity-10,
[bg-opacity-10=""] {
  --un-bg-opacity: 0.1;
}
.bg-opacity-30 {
  --un-bg-opacity: 0.3;
}
.bg-opacity-50 {
  --un-bg-opacity: 0.5;
}
.\!bg-opacity-75,
.bg-opacity-75\! {
  --un-bg-opacity: 0.75 !important;
}
[bg~="opacity-80"] {
  --un-bg-opacity: 0.8;
}
.hover\:bg-opacity-10:hover {
  --un-bg-opacity: 0.1;
}
.hover\:bg-opacity-20:hover {
  --un-bg-opacity: 0.2;
}
.hover\:bg-opacity-75:hover {
  --un-bg-opacity: 0.75;
}
.bg-bottom {
  background-position: bottom;
}
.bg-right {
  background-position: right;
}
[stroke-width~="\31 "] {
  stroke-width: 1px;
}
[stroke-width~="\32 "] {
  stroke-width: 2px;
}
[stroke-width~="\33 "] {
  stroke-width: 3px;
}
.dark .dark\:stroke-black {
  --un-stroke-opacity: 1;
  stroke: rgb(0 0 0 / var(--un-stroke-opacity));
}
.stroke-white {
  --un-stroke-opacity: 1;
  stroke: rgb(255 255 255 / var(--un-stroke-opacity));
}
.object-cover {
  object-fit: cover;
}
.p-1 {
  padding: 0.25rem;
}
.p-16 {
  padding: 4rem;
}
.p-2,
.p2 {
  padding: 0.5rem;
}
.\!p-4 {
  padding: 1rem !important;
}
.p-4 {
  padding: 1rem;
}
.px,
.px-4,
[p~="x-4"],
[px=""] {
  padding-left: 1rem;
  padding-right: 1rem;
}
.py-2,
[p~="y-2"] {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.\!px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.px-2,
[px-2=""] {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.px-7 {
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}
.px1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
.py-1,
[py-1=""] {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.py-10 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.py-12 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.py-20 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.py0\.5 {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
}
[p~="l-1"] {
  padding-left: 0.25rem;
}
[p~="r-2"] {
  padding-right: 0.5rem;
}
.pt-\.5,
[p~="t-0\.5"] {
  padding-top: 0.125rem;
}
.pb-2 {
  padding-bottom: 0.5rem;
}
.pl-0 {
  padding-left: 0;
}
.pt-1 {
  padding-top: 0.25rem;
}
.pt-12,
[pt-12=""] {
  padding-top: 3rem;
}
.text-center,
[text-center=""] {
  text-align: center;
}
.text-right,
[text-right=""] {
  text-align: right;
}
.align-middle {
  vertical-align: middle;
}
.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}
.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}
.text-4xl,
[text-4xl=""] {
  font-size: 2.25rem;
  line-height: 2.5rem;
}
.\!text-5xl {
  font-size: 3rem !important;
  line-height: 1 !important;
}
.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}
.\!text-sm {
  font-size: 0.875rem !important;
  line-height: 1.25rem !important;
}
.text-sm,
[text-sm=""],
[text~="sm"] {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.text-xl,
[text-xl=""] {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}
.text-\$slidev-controls-foreground {
  color: var(--slidev-controls-foreground);
}
.text-black {
  --un-text-opacity: 1;
  color: rgb(0 0 0 / var(--un-text-opacity));
}
.text-blue {
  --un-text-opacity: 1;
  color: rgb(96 165 250 / var(--un-text-opacity));
}
.text-blue-600 {
  --un-text-opacity: 1;
  color: rgb(37 99 235 / var(--un-text-opacity));
}
.\!text-current {
  color: currentColor !important;
}
.text-current {
  color: currentColor;
}
.text-cyan {
  --un-text-opacity: 1;
  color: rgb(34 211 238 / var(--un-text-opacity));
}
.text-gray,
.text-gray-400 {
  --un-text-opacity: 1;
  color: rgb(156 163 175 / var(--un-text-opacity));
}
.text-green {
  --un-text-opacity: 1;
  color: rgb(74 222 128 / var(--un-text-opacity));
}
.text-green-500 {
  --un-text-opacity: 1;
  color: rgb(34 197 94 / var(--un-text-opacity));
}
.text-indigo {
  --un-text-opacity: 1;
  color: rgb(129 140 248 / var(--un-text-opacity));
}
.text-light-600,
[text-light-600=""] {
  --un-text-opacity: 1;
  color: rgb(241 243 245 / var(--un-text-opacity));
}
.text-lime {
  --un-text-opacity: 1;
  color: rgb(163 230 53 / var(--un-text-opacity));
}
.text-orange {
  --un-text-opacity: 1;
  color: rgb(251 146 60 / var(--un-text-opacity));
}
.text-pink {
  --un-text-opacity: 1;
  color: rgb(244 114 182 / var(--un-text-opacity));
}
.text-purple {
  --un-text-opacity: 1;
  color: rgb(192 132 252 / var(--un-text-opacity));
}
.text-red,
.text-red-400 {
  --un-text-opacity: 1;
  color: rgb(248 113 113 / var(--un-text-opacity));
}
.dark .dark\:text-red-500,
.text-red-500 {
  --un-text-opacity: 1;
  color: rgb(239 68 68 / var(--un-text-opacity));
}
.text-red-700 {
  --un-text-opacity: 1;
  color: rgb(185 28 28 / var(--un-text-opacity));
}
.text-teal {
  --un-text-opacity: 1;
  color: rgb(45 212 191 / var(--un-text-opacity));
}
.text-white {
  --un-text-opacity: 1;
  color: rgb(255 255 255 / var(--un-text-opacity));
}
.text-yellow {
  --un-text-opacity: 1;
  color: rgb(250 204 21 / var(--un-text-opacity));
}
.\!hover\:text-white:hover {
  --un-text-opacity: 1 !important;
  color: rgb(255 255 255 / var(--un-text-opacity)) !important;
}
[\!hover\:text-white=""]:hover {
  --un-text-opacity: 1 !important;
  color: rgb(255 255 255 / var(--un-text-opacity)) !important;
}
.text-opacity-50\! {
  --un-text-opacity: 0.5 !important;
}
.font-bold {
  font-weight: 700;
}
.\!leading-\[1\.5em\] {
  line-height: 1.5em !important;
}
.leading-2 {
  line-height: 0.5rem;
}
.leading-5 {
  line-height: 1.25rem;
}
.tracking-widest {
  letter-spacing: 0.1em;
}
.font-mono {
  font-family: "IBM Plex Mono", ui-monospace, SFMono-Regular, Menlo, Monaco,
    Consolas, "Liberation Mono", "Courier New", monospace;
}
.uppercase {
  text-transform: uppercase;
}
.line-through {
  text-decoration-line: line-through;
}
.underline {
  text-decoration-line: underline;
}
.tab {
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
}
.op100 {
  opacity: 1;
}
.op40,
.opacity-40 {
  opacity: 0.4;
}
.op50,
.opacity-50,
[op50=""],
[opacity-50=""] {
  opacity: 0.5;
}
.op80,
.opacity-80 {
  opacity: 0.8;
}
.\!opacity-0 {
  opacity: 0 !important;
}
.opacity-0 {
  opacity: 0;
}
.opacity-10 {
  opacity: 0.1;
}
.\!opacity-100 {
  opacity: 1 !important;
}
.hover\:op100:hover {
  opacity: 1;
}
[hover~="op100"]:hover {
  opacity: 1;
}
.hover\:opacity-10:hover {
  opacity: 0.1;
}
.hover\:\!opacity-100:hover {
  opacity: 1 !important;
}
.hover\:opacity-100:hover {
  opacity: 1;
}
.group:hover .group-hover\:opacity-20 {
  opacity: 0.2;
}
.hover\:opacity-90:hover {
  opacity: 0.9;
}
.shadow,
[shadow~="\~"] {
  --un-shadow: var(--un-shadow-inset) 0 1px 3px 0
      var(--un-shadow-color, rgb(0 0 0 / 0.1)),
    var(--un-shadow-inset) 0 1px 2px -1px var(--un-shadow-color, rgb(0 0 0 / 0.1));
  box-shadow: var(--un-ring-offset-shadow), var(--un-ring-shadow),
    var(--un-shadow);
}
.light .light\:shadow-gray-300\/50 {
  --un-shadow-color: rgb(209 213 219 / 0.5);
}
.shadow-lg {
  --un-shadow: var(--un-shadow-inset) 0 10px 15px -3px var(--un-shadow-color, rgb(0
            0 0 / 0.1)),
    var(--un-shadow-inset) 0 4px 6px -4px var(--un-shadow-color, rgb(0 0 0 / 0.1));
  box-shadow: var(--un-ring-offset-shadow), var(--un-ring-shadow),
    var(--un-shadow);
}
.shadow-light-300\/50 {
  --un-shadow-color: rgb(248 249 250 / 0.5);
}
.outline-none {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.backdrop-blur {
  --un-backdrop-blur: blur(8px);
  -webkit-backdrop-filter: var(--un-backdrop-blur) var(--un-backdrop-brightness)
    var(--un-backdrop-contrast) var(--un-backdrop-grayscale)
    var(--un-backdrop-hue-rotate) var(--un-backdrop-invert)
    var(--un-backdrop-opacity) var(--un-backdrop-saturate)
    var(--un-backdrop-sepia);
  backdrop-filter: var(--un-backdrop-blur) var(--un-backdrop-brightness)
    var(--un-backdrop-contrast) var(--un-backdrop-grayscale)
    var(--un-backdrop-hue-rotate) var(--un-backdrop-invert)
    var(--un-backdrop-opacity) var(--un-backdrop-saturate)
    var(--un-backdrop-sepia);
}
.\!backdrop-blur-0px {
  --un-backdrop-blur: blur(0px) !important;
  -webkit-backdrop-filter: var(--un-backdrop-blur) var(--un-backdrop-brightness)
    var(--un-backdrop-contrast) var(--un-backdrop-grayscale)
    var(--un-backdrop-hue-rotate) var(--un-backdrop-invert)
    var(--un-backdrop-opacity) var(--un-backdrop-saturate)
    var(--un-backdrop-sepia) !important;
  backdrop-filter: var(--un-backdrop-blur) var(--un-backdrop-brightness)
    var(--un-backdrop-contrast) var(--un-backdrop-grayscale)
    var(--un-backdrop-hue-rotate) var(--un-backdrop-invert)
    var(--un-backdrop-opacity) var(--un-backdrop-saturate)
    var(--un-backdrop-sepia) !important;
}
.backdrop-blur-5px {
  --un-backdrop-blur: blur(5px);
  -webkit-backdrop-filter: var(--un-backdrop-blur) var(--un-backdrop-brightness)
    var(--un-backdrop-contrast) var(--un-backdrop-grayscale)
    var(--un-backdrop-hue-rotate) var(--un-backdrop-invert)
    var(--un-backdrop-opacity) var(--un-backdrop-saturate)
    var(--un-backdrop-sepia);
  backdrop-filter: var(--un-backdrop-blur) var(--un-backdrop-brightness)
    var(--un-backdrop-contrast) var(--un-backdrop-grayscale)
    var(--un-backdrop-hue-rotate) var(--un-backdrop-invert)
    var(--un-backdrop-opacity) var(--un-backdrop-saturate)
    var(--un-backdrop-sepia);
}
.transition,
[transition=""] {
  transition-property: color, background-color, border-color, outline-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.transition-opacity {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.duration-150 {
  transition-duration: 150ms;
}
.duration-200 {
  transition-duration: 200ms;
}
.duration-300 {
  transition-duration: 300ms;
}
.ease-in {
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}
.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.ease-out {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}
.view-transition-name {
  view-transition-name: name;
}
@media (max-width: 767.9px) {
  .\<md\:hidden,
  .lt-md\:hidden {
    display: none;
  }
}
@media (min-width: 1024px) {
  .lg\:m-2 {
    margin: 0.5rem;
  }
  .lg\:gap-1 {
    gap: 0.25rem;
  }
  .lg\:p-2 {
    padding: 0.5rem;
  }
}
